@page "/"

@rendermode InteractiveServer
@using BlazorApp2.Services.Clustering
@using OpenLayers.Blazor

@inject IClusteringService ClusteringService


<PageTitle>Home</PageTitle>

<h1>Spatiotemporal Mapping</h1>
@* 
Welcome to your map.


<OpenStreetMap Style="height:480px; width:640px" Zoom="18" Center="new Coordinate(initialLongitude, initialLatitude)">
   
    <Features>

        <Marker Type="MarkerType.MarkerPin" Coordinate="new Coordinate(121.046268, 14.374663)"></Marker>
        <Marker Type="MarkerType.MarkerPin" Coordinate="new Coordinate(121.047309, 14.373460)"></Marker>
      
    </Features>
</OpenStreetMap>
 *@
@code {
    private IEnumerable<ClusterResult> Clusters = [];
    private float initialLongitude = 121.04763778648794F, initialLatitude = 14.372935416829094F;

    protected override Task OnInitializedAsync()
    {

        return base.OnInitializedAsync();
    }

}
