@page "/"

@rendermode InteractiveServer
@using BlazorApp2.Services.Clustering
@using OpenLayers.Blazor

@inject IClusteringService ClusteringService

<PageTitle>Home</PageTitle>

<h1>Hello, world!</h1>

Welcome to your map.


<OpenStreetMap Style="height:480px; width:640px" Zoom="18" Center="new Coordinate(initX, initY)">
   
    <Features>
        @foreach (var i in Enumerable.Range(1, 10))
        {
            <Marker Type="MarkerType.MarkerPin" Coordinate="new Coordinate(initX + (.2 * i), initY)"></Marker>
        }
    </Features>
</OpenStreetMap>

@code {
    private IEnumerable<ClusterResult> Clusters = [];
    private float initX = 121.04763778648794F, initY = 14.372935416829094F;

    protected override Task OnInitializedAsync()
    {
        return base.OnInitializedAsync();
    }

}